/*############# global #######""*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    --global-background-color: white;
    --link-background-collor: #DA0037;
    --global-text-color: #2196F3;       /*#EDEDED;*/
    --text-hover-color: ghostwhite;
    --gray-color: rgba(255,255,255,0.1);
}

html{
    background-color: var(--global-background-color);
    color: var(--global-text-color);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}

a:hover{
    background-color:#2196F3;
    color: var(--text-hover-color);
    padding:6px;
    border-radius: 3px;
}

input{
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border: none;
}

input:focus{
    border: solid 1px var(--link-background-collor);
}

/*########### header #######"*/

header{
    box-shadow: 0 10px 15px -3px var(--gray-color);
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header nav ul{
    list-style-type: none;
    display: inline-flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin-top: 10px;
}

header nav ul li{
    margin: 5px;
}
.brand p{
  position:relative; 
  bottom:42px; 
  left:60%; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size:x-large;
}
.brand img{
  position:relative; 
  width:50px;
  top:1px;
}
/* ### for responsive nav bar ####*/
@media screen and (max-width: 640px) {
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        margin-bottom: 0px;
        background-color:#2196F3;
        width:600px;
        height:80px;
        position:relative;
        bottom:20px;
    }
    header nav ul{
      position:relative;
      left:7%;
      font-size: medium;
    }
   .brand p{
    font-size: large;
    font-weight: 300;
    color:white;
    position:relative;
    top:-20px;
    left:53%;
   }
   .brand img{
    position:relative;
    left:40%;
    top:14px;
   }
}
/*#########   footer #######"*/

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    box-shadow: 0 10px 0 15px var(--gray-color);
}


/*#########   modals  for ADD password #######"*/

.modals-wrapper{
    width: 100%;
    height: 100%;
    background-color:white; 
    display: none;
    justify-content: center;
    position: fixed;
}

.modal{
    background-color:var(--global-background-color);
    min-width: 400px;
    min-height: 400px;
    padding: 20px;
}

#close-modal{
    background-color: var(--link-background-collor);
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
    padding: 5px;
    size:20px;
    color:white;
}
.inp{
  position:relative;
  top:5%;
  left:10px;
  size:18px;
  width:80%;
  height:40px;
  font-size: 17px;
  border-radius: 5px;
  border :solid 1px #C3CAD1;
}
.inp:focus{
  border: solid 1px #8CB5FF;
  border-radius: 7px;
  box-shadow: 0 0 5px 5px #BBD1FF;
}

#mainform{
  width:50%; 
  position:absolute; 
  top:18%; 
  left:25%
}
#addbutton{
  width:60%;
  height:45px; 
  opacity:0.7;
  background-color:#0096FF;
  color:white; 
  font-size: 22px;
  border-radius: 10px; 
  font-family: Arial, Helvetica, sans-serif;
}
#addbutton:hover{
  box-shadow: 0 0 3px 3px #BBD1FF;
  opacity:1;
}
#password-modal, #add-password-modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.copy{
    cursor: pointer;
}

/*######  Main Container of Cards ########*/
.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 0.6rem; /* To define the gap between rows/columns */
  gap: 0.6rem;
  margin-left: 4%;
}

.card{
  width: 250px;
  height: 285px;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin:7px;
}

.card img{
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin: 3px;
  margin-top: -20px;
}

.card .details{
  margin-top:2px;
}

.card .details h3{
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:royalblue;
}

#mailfo{
  text-transform: uppercase;
}
.info p{
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 200;
}
/*######## 3DOTS ########*/

.actions{
  cursor: pointer;
  padding: 5px;
  position:relative;
  left:45%;
  bottom:10%;
}

.actions a{
    display: none;
    background-color: #0096FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
}
/*####### 3 dots end######*/

/* #### to make form in add pass responsive ####*/
@media screen and (max-width: 1160px) {
  #mainform{
    width:80%;
    position:absolute; 
    top:18%; 
    left:10%
  }
}
/*Change the size of the modal in the small devices*/
@media screen and (max-width: 680px) {
    .modal{
        min-height: 300px;
    }

    .modals-wrapper{
        max-height: 740px;
    }
}
/*####   slider #####*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left:78%;
  bottom:38px;
  margin-left:1%;
  margin-right:1%;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* hide and show labels*/
.state{
 position:relative;
 left:78%;
 bottom:28px;
 color:black;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* reuse count togglers p*/
.noreuse{
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 25px;
margin-bottom: 20px;
color:rgb(16,65,38);
background-color: rgb(199,226,214);
border:1px solid rgb(172,212,193);
border-radius: 5px;
padding:6px;
width:50%;
position:relative;
left:25%;
}
.reuse{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  padding:6px;
  width:50%;
  position:relative;
  left:25%;
  color: rgb(112,19,31);
  background-color:rgb(246,204,209);
  border:1px solid rgb(241,179,187);
  border-radius: 5px;
}
/*#### REUSE passwords togglers end #######*/

@media screen and (max-width: 640px){
  .switch{
    position:relative;
    left:70%;
    bottom:20px;
    width:40px;
    height:21px;
    margin-left:0.2%;
   margin-right:0.2%;
  }
  .slider:before{
    position: absolute;
    height:18px;
    width:18px;
    left: 2px;
    bottom: 1.5px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  .state{
    position:relative;
    left:70%;
    bottom:18px;
    font-size: 13px;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   .noreuse{
    font-size: 17px;
    margin-bottom: 17px;
    border-radius: 5px;
    padding:6px;
    width:80%;
    position:relative;
    left:10%;
    }
    .reuse{
      font-size: 17px;
      margin-bottom: 17px;
      padding:6px;
      width:80%;
      position:relative;
      left:10%;
      border-radius: 5px;
    }
}